body {
	font-family: tbudgothic-std;
	margin: 0;
	padding: 0;
	line-height: 1;
}

#container {
	position: absolute;
	overflow: hidden;
	width: 1920px;
	height: 1080px;
}

.separator {
	background-color: #ffff52
}
