:host {
	font-weight: 900;
}

#container {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	height: 36px;
	top: 15px;
	left: 15px;
}

#ruler {
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0px;
	background-color: #ffff52
}

img#label_icon {
	margin-right: 15px;
}
div#label {
	margin: 0 30px 0 0; 
	font-size: 24px;
}
div#name {
	margin: 0 30px 0 0;
	font-size: 36px;
}

#social_container {
	height: 100%;
}

#social_container > div {
	position: absolute;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	opacity: 0;
	transition: opacity 0.33s linear;
}

.social_info {
	font-size: 24px;
	margin-left: 7.5px;
	font-weight: 400;
}

#finish_time {
	position: absolute;
	right: 15px;
	bottom: 8px;
	color: #ffff52;
	opacity: 0;
	transition: opacity 0.33s linear;
	font-size: 30px;
}
