doctype html
html
	head
		meta(charset="UTF-8")
		script(src=`https://use.typekit.net/${process.env.TYPEKIT_ID}.js`)
		script.
			try { Typekit.load({ async: true }); } catch (e) { }
		link(rel="stylesheet", href="./lib/common.css")
		link(rel="stylesheet", href="./fonts/migmix-2p.css")
	body
		div(id="sd1")
		script(src="./views/sd1.tsx")
