name: CI

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:
    branches:
      - master

env:
  YARN_CACHE_FOLDER: ~/.yarn

jobs:
  test-minimum:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/cache@v2
        with:
          path: ${{ env.YARN_CACHE_FOLDER }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run: yarn build

  test-matrix:
    needs: test-minimum
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ['12', '14']
        os: ['windows-latest', 'macos-latest', 'ubuntu-latest']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ${{ env.YARN_CACHE_FOLDER }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run: yarn build

  build-image:
    needs: test-minimum
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: ${{ runner.os }}-buildx-
      - uses: crazy-max/ghaction-docker-meta@v1
        id: docker_meta
        with:
          images: |
            rtainjapan/rtainjapan-layouts
            ghcr.io/rtainjapan/rtainjapan-layouts
          tag-sha: true
      - uses: docker/login-action@v1
        with:
          username: hoishin
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: hoishin
          password: ${{ secrets.CR_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          build-args: TYPEKIT_ID=${{ secrets.TYPEKIT_ID }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_ICON: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
          SLACK_MESSAGE: rtainjapan/rtainjapan-layouts Docker image is ready
          SLACK_USERNAME: GitHub
